:root{
    --mainText:#fff;
    --secondaryText:#eeeeee;
    --mainColor:#152838;
    --secondaryColor:#192734;
    --borderColor:#164056;
    --temeDotborder:#fff;
    --previewbg:rgb(25,39,52,0.8);
    --previewshadow:#111921;
    --buttonColor:#17a2b8;
}